* {
  box-sizing: border-box;
}

:root {
  --block-padding: 15px;
  --separator-color: rgba(255, 255, 255, 0.25);
  --top-margin: 50px;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

#root {
  min-height: 100vh;
  justify-content: center;
  background: linear-gradient(to bottom, var(--main-bg-top-color), var(--main-bg-bottom-color));
  color: #fff;
}

#root,
#root[data-theme=day] {
  --main-bg-top-color: rgba(73, 130, 173, 1);
  --main-bg-bottom-color: rgba(144, 187, 216, 0.5);
}

#root[data-theme=morning] {
  --main-bg-top-color: rgba(129, 197, 229, 1);
  --main-bg-bottom-color: rgba(220, 146, 127, 1);
}

#root[data-theme=evening] {
  --main-bg-top-color: rgba(111, 109, 140, 1);
  --main-bg-bottom-color: rgba(188, 97, 90, 0.5);
}

#root[data-theme=night] {
  --main-bg-top-color: rgba(1, 30, 51, 1);
  --main-bg-bottom-color: rgba(61, 53, 81, 0.8);
}
