.root {
  font-weight: 400;
  text-align: center;
}

.name {
  font-size: 3.7rem;
}

.currentTemperature {
  font-size: 102px;
  line-height: 102px;
  font-weight: 100;
}

.conditions {
  margin-top: 2px;
  font-size: 24px;
}

.dayTemperature {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 2px;
  font-size: 21px;
}
